body {
  margin: 0;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.popup {
  position: absolute;
  border: 1px solid;
  padding: 23px 30px 30px 30px;
  background-color: white;
  width: 400px;
  height: 100px;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.modal {
  position: absolute;
  border: 1px solid;
  padding: 10px;
  z-index: 2;
  background-color: white;
  width: 400px;
  height: 300px;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  background-color: #2e2e2e7a;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header {
  justify-content: space-between;
  padding: 20px 20px 20px 30px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: black;
}

.header_menu {
  font-size: 24px;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.todo_containers_body {
  padding: 10px;
}

.todo_container {
  width: 100%;
  margin: 10px;
  background-color: #eff2f0;
  border-radius: 12px;
  padding: 12px;
  box-sizing: border-box;
  min-height: 800px;
}

.todo_container_header {
  justify-content: space-between;
  padding: 6px;
  font-size: 20px;
  font-weight: bold;
}

.todo_container_item {
  padding: 16px;
  margin: 5px;
  background-color: white;
  border-radius: 10px;
  height: max-content;
  display: flex;
  justify-content: space-between;
  word-break: break-all;
}

.todo_container_item_count {
  background-color: #d1d1d1;
  color: #3f3f3f;
  padding: 1px 8px;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 16px;
}

.todo_form_add_button {
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 5px;
  outline: 0;
}

.todo_input_textarea {
  width: 100%;
  height: 80px;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
}

.todo_input_button_confirm {
  width: 50%;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  background-color: #3aad3a;
  color: white;
  border-radius: 5px;
  border: none;
}

.todo_input_button_confirm:disabled {
  background-color: #3aad3a5e;
}

.todo_input_button_cancel {
  width: 50%;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  background: white;
  border: 1px solid;
  margin-bottom: 16px;
}

.todo_delete_button {
  border: none;
  font-size: 16px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

.slider {
  position: absolute;
  width: 29.6%;
  height: 100%;
  left: 100%;
  background-color: #e7e7e7;
  animation-name: slider;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes slider-open {
  0% { left: 100% }
  100% { left: 70.4% }
}

@keyframes slider-close {
  0% { left: 70.4% }
  100% { left: 100% }
}